[Desktop Entry]
Name=Godot Engine (Mono)
GenericName=Libre game engine
GenericName[el]=Ελεύθερη μηχανή παιχνιδιού
GenericName[fr]=Moteur de jeu libre
GenericName[ja]=自由なゲームエンジン
GenericName[nl]=Libre game-engine
GenericName[pl]=Darmowy silnik gier
GenericName[ru]=Свободный игровой движок
GenericName[uk]=Вільний ігровий рушій
GenericName[zh_CN]=自由的游戏引擎
Comment=Multi-platform 2D and 3D game engine with C# support
Comment[el]=2D και 3D μηχανή παιχνιδιού πολλαπλών πλατφορμών με υποστήριξη C#
Comment[fr]=Moteur de jeu 2D et 3D multiplateforme avec prise en charge de C#
Comment[ja]=C#対応のマルチプラットフォーム対応2D・3Dゲームエンジン
Comment[nl]=Multi-platform 2D- en 3D-game-engine met C#-ondersteuning
Comment[pl]=Wieloplatformowy silnik gier 2D i 3D z obsługą C#
Comment[ru]=Кроссплатформенный движок для 2D- и 3D-игр с поддержкой C#
Comment[uk]=Кросплатформний рушій для створення 2D та 3D ігор з підтримкою C#
Comment[zh_CN]=支持 C# 的多平台 2D 和 3D 游戏引擎
Keywords=game development;development;IDE;game engine;C#;mono;dotnet;
Exec=/opt/godot/godot %f
Icon=godot
Terminal=false
Type=Application
MimeType=application/x-godot-project;
Categories=Development;IDE;
StartupWMClass=Godot
